<div class="heading">
  <span class="text"> ABOUT </span>
</div>

<div class="center">
  <!-- ABOUT IMG -->
  <div class="about-img img">
    <img
      class="img-parallax"
      src="assets/images/about-img.jpg"
      alt="about-img"
    />
  </div>
  <!-- ABOUT IMG -->
</div>
<div class="center">
  <div class="about-text">
    <div class="about-text-heading text-scroll">
      Hi there, I’m glad you found me. My name is
      <span class="red"> Mohit</span> and I like to serve you this Audio book App.
    </div>
    <div class="about-text-content text-scroll">
      Introducing our cutting-edge audiobook app, where the world of literature
      comes alive through the power of sound. Dive into a universe of
      captivating narratives, expertly narrated by seasoned professionals,
      allowing you to immerse yourself in stories wherever you go. With a vast
      library spanning genres from gripping thrillers to heartwarming classics,
      there's something for every listener to enjoy. Seamlessly navigate through
      chapters, bookmark favorite passages, and customize playback speed to suit
      your preferences. Whether you're commuting, exercising, or simply relaxing
      at home, our audiobook app delivers an unparalleled listening experience,
      enriching your life one story at a time. Join our community of avid
      readers and embark on a journey through the spoken word like never before.
    </div>
  </div>
</div>
