<main id="about-one">


  <!-- CUSTOM CURSOR -->
  <div class="cursor scale"></div>
  <div class="cursor-two scale"></div>
  <!-- CUSTOM CURSOR -->


  <div id="preloader">
      <div class="p">
          <img src="assets/images/headphone.png" alt="headphone">
      </div>
      <div class="p">Use Headphone For Better Experience.</div>
  </div>

  <div id="about-one-content">

      <app-header></app-header>


      <!-- progress-bar -->
      <div class="progress-bar-container fade-in">
          <div class="progressbar"></div>
      </div>
      <!-- progress-bar -->



      <div class="scrolling-part">

      </div>

      <router-outlet></router-outlet>


      <div class="signature">
          <span class="text-scroll"> Mohit The Programmer.</span>
      </div>




      <!-- HEADPHONE IMG -->
      <div class="headphone img text">
          <img src="assets/images/headphone.png" title="headphone zone" class="text" alt="headphone">
      </div>
      <!-- HEADPHONE IMG -->


  </div>


  <app-navigation></app-navigation>



</main>