section {
  display: flex;
  justify-content: left;
  margin-top: 100px;
  // border: 1px solid white;
  height: 70vh;
  margin-bottom: 50px;
  overflow: hidden;
}

.container {
  width: 40%;
  margin-left: 50px;
}

.container2 {
  width: 40%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid green;
}
.audio {
  display: flex;
  justify-content: center;
  width: 400px;
}
.img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  // border: 1px solid white;
}
.img {
  display: flex;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
  justify-content: center;
  animation-name: rotate;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 1px solid white;
}
.desc {
  text-align: center;
  margin: 10px 0;
}
.desc p {
  text-align: center;
}
.list-group {
  list-style: none;
  padding: 0;
  max-height: 80vh;
  overflow: auto;
}

.list-group-item {
  border: 1px solid #ddd;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
}

.list-group-item:hover {
  background-color: #f0f0f0;
  color: black;
}
audio {
  width: 90%;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
    height: 45%;
    overflow: hidden;
    margin-left: 0;
  }
  .container2 {
    width: 80%;
    height: 70%;
    overflow: hidden;
    margin-left: 0;
  }
  section {
    flex-direction: column;
    align-items: center;
    height: 70vh;
  }
  .list-group-item {
    overflow: hidden;
    width: 93%;
  }
  .img img {
    width: 180px;
    height: 180px;
  }
  .audio {
    width: 300px;
  }
}
